- @body_class = 'scaffold'

%h1 Listing posts

%table
  %tr
    %th Site
    %th Title
    %th Description
    %th Url
    %th Thumb
    %th
    %th
    %th

  - @posts.each do |post|
    %tr
      %td= link_to_site_id post.site_id
      %td= post.title
      %td= post.description
      %td= post.url
      %td= image_tag(post.thumb_url(:thumbnail), :width => 80, :height => 80)

      %td= link_to 'Show', post
      %td= link_to 'Edit', edit_post_path(post)
      %td= link_to 'Destroy', post, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Post', new_post_path
