!!! 5
%html{"ng-app" => "Posts"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
    %meta{:content => "text/css", "http-equiv" => "Content-Style-Type"}
    %meta{:content => "text/javascript", "http-equiv" => "Content-Script-Type"}
    %title= Settings.app_name
    %meta{:name => "viewport", :content => "width=device-width, minimum-scale=1, maximum-scale=1"}

    / = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "//code.jquery.com/jquery-1.9.1.js"
    / = javascript_include_tag "application", "data-turbolinks-track" => true
    = javascript_include_tag "application", controller_name
    / = javascript_include_tag "application"
    
    = analytics_init if Rails.env.production?
    = csrf_meta_tag

  %body{:class => @body_class || ''}
    .container
      .tab
        = link_to '#', {class: 'sidr-trigger js-sidr-trigger'} do
          %i.fa.fa-bars
      .header
        %h1
          = link_to '/' do
            %i.fa.fa-comment-o
            / = Settings.app_name

      .contents
        = yield
    = render partial: 'layouts/sidr'